{% extends 'base.html' %}

{% block content %}

<h1>{{note.title}}</h1>
<hr>
<p>{{note.body}}</p>
<div style="margin-top: 100px;">
    <a class="btn btn-success btn-sm" href="{% url 'notepad_edit' note.id %}">Edit</a>
    <br>
    <a href="{% url 'notepad_delete' note.id %}" style="margin-top: 20px;" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this note?');">Delete</a>
    <br>
    <a href="/" style="margin-top: 20px;" class="btn btn-secondary btn-sm">back</a>
    
</div>


{% endblock %}